# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
# It is a temporary solution until we push the package to NPM
# dist/

# NPM file created by GitHub actions
.npmrc

# Decrypted private key we do not want to commit
.github/OSBotify-private-key.asc
