@font-face {
    font-family: ExpensifyMono-Neue;
    font-weight: 700;
    font-style: normal;
    src:
        url('../assets/fonts/ExpensifyNeue-Bold.woff2') format('woff2'),
        url('../assets/fonts/ExpensifyNeue-Bold.woff') format('woff');
}

* {
    margin: 0;
    color: #e7ece9;
    font-family: ExpensifyMono-Neue;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
}

.container {
    padding: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #07271f;
}

.title {
    margin-bottom: 16px;
}

.react-pdf__Page {
    background-color: transparent !important;
}
