body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title {
  margin-bottom: 16px;
}
